version: '3.1'

services:
  vault:
    image: vault
    container_name: vault
    restart: always
    environment:
      - "VAULT_DEV_ROOT_TOKEN_ID=token"
      - "VAULT_DEV_LISTEN_ADDRESS=0.0.0.0:8200"
      - 'VAULT_LOCAL_CONFIG={"backend": {"file": {"path": "/vault/file"}}, "default_lease_ttl": "168h", "max_lease_ttl": "720h"}'
    ports:
      - 8200:8200
    volumes:
      - $PWD/data/grafana:/var/lib/grafana
